General Styles




/* CPU List Styles */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

li {
    background-color: #4d484889;
    padding: 5px;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;

    /* max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */

}

li button {
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #2c3e50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

li button:hover {
    background-color: #34495e;
}

/* Form Styles */
h3 {
    color: #2c3e50;
    margin-top: 30px;
    margin-bottom: 20px;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

button[type="button"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #2c3e50;
    color: #e4dada;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="button"]:hover {
    background-color: #34495e;
}
